.page__forgot-password {
  .ui.grid {
    min-height: 640px;

    > .column {
      max-width: 450px;
    }
  }

  .field.error {
    text-align: left;
  }

  .left.pointing.red.label {
    position: absolute;
    min-width: 200px;
    margin-top: 8px;
  }
}
