<div class="page__register">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui teal image header">
        <img src="http://placehold.it/50x50&text=Logo" class="image">
        <div class="content">
          {{ labels['header'] }}
        </div>
      </h2>

      <form class="ui large form" [ngFormModel]="registerForm" (submit)="onSubmit($event)">
        <div class="ui stacked segment">
          <div
            class="field"
            [ngClass]="{'error': email.touched && !email.valid}">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input ngControl="email" type="email" name="email" placeholder="Email">
              <div class="ui left pointing red basic label" *ngIf="email.touched && email.errors">
                Email is required
              </div>
            </div>
          </div>
          <div
            class="field"
            [ngClass]="{'error': password.touched && !password.valid}">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input ngControl="password" type="password" name="password" placeholder="Password">
              <div class="ui left pointing red basic label" *ngIf="password.touched && password.errors">
                Password is required
              </div>
            </div>
          </div>
          <button
            type="submit"
            class="ui fluid large teal submit button"
            [disabled]="!registerForm.valid"
            [ngClass]="{'button-disabled': !registerForm.valid}">
            {{ labels['form.submit'] }}
          </button>
        </div>

        <div class="ui error message"></div>
      </form>

      <div class="ui message aligned right">
        <div>
          <a [routerLink]=" ['Login'] ">
            {{ labels['link.forgot_password'] }}
          </a>
        </div>
        <div>
          <a [routerLink]=" ['Login'] ">
            {{ labels['link.login'] }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
