<div class="ui secondary pointing menu container">
  <a [routerLink]=" ['Index'] " router-active="active" class="item">Index</a>
  <a [routerLink]=" ['Home'] " router-active="active" class="item">Home</a>

  <div class="right menu">
    <div class="ui right aligned category search item">
      <div class="ui transparent icon input">
        <input class="prompt" type="text" placeholder="Search ...">
        <i class="search link icon"></i>
      </div>
      <div class="results"></div>
    </div>
    <div *ngIf="!hasLoggedIn">
      <a [routerLink]=" ['Login'] " class="ui item">
        {{ labels['login'] }}
      </a>
    </div>
    <div *ngIf="hasLoggedIn">
      <a (click)="doLogout()" class="ui item">
        {{ labels['logout'] }}
      </a>
    </div>
  </div>
</div>
